/* reset */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* reset */

/* common */
body{
    font-family: 'Open Sans', sans-serif;
}
.big-container{
    max-width:1200px;
    margin: auto;
}
.small-container{
    max-width:1000px;
    margin:auto;
}
.row-flex{
    display: flex;
}
.rate{
    text-align: center;
    border: 1px solid lightgrey;
    padding-top: 25px;
    padding-bottom: 20px;
    
}
.price-rate{
    font-weight: bold;
    display: inline-block;
    margin-top: 18px;
    padding-left: 15px;
   
}
.mouth-price{
    color: #7f6b66;
    margin-top: 10px;
    padding-left: 15px;
}
.special-user{
    display: flex;
    padding-left: 15px;
    margin-top:60px
}
.number-user{
    padding-left: 12px;
    
}
.buy-rate{
    margin-top: 20px;
    padding-left: 25px;
    
}
h1{
    font-size: 50px;
    font-weight:900;
    margin-top: 40px;
}
h2{
    font-size: 40px;
    font-weight:900;
    padding-top: 40px;
    margin-top: 80px;
}
h3{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    padding-left: 15px;
}
h4{
    font-size: 18px;
    font-weight: bold;
    margin-top: 60px;
    padding-left: 15px;
}
.information::before{
    content: "\2714";
    font-weight: bold;
    color: #0061ff;
      
}
.information{
    padding-left: 15px;
    margin-top: 30px;
   
}
.special-padding{
 padding-left: 25px;
}


/* common */

/* button */
.brt-blue{
    width: 60px;
    height: 30px;
    margin-top: -5px;
    background-color: #0061ff;
    color: white;
    border: none;
    
}
/* button */

/* header */

  

 .header-top{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
 }

     .logo{
        padding-left: 30px;
     }
    
   .row-flex .list {
        display: flex;
        
    }
    .list-logo, .list-logo-left{
        list-style: none;
        
    }
    .list-logo{
        padding-right: 80px;
    }
    .list-logo-left{
        padding-right: 45px;
       
    }
    .list a{
        text-decoration: none;
        color:inherit
    }
/* header */

/* main */
.hero{
    background-color:#b4d0e7;
    padding-top: 10px;
    margin-top: 20px;
    
}


.small-box{
    width: 40%;
        
}
.left-box{
    margin-top: 20px;
   
}
.hero-button{
    width:200px;
    height: 30px;
    margin-top: 20px;
}
 .hero-under{
    margin-top: 20px;
 }
 .fa-solid.fa-arrow-down {
    font-size: 35px;
    margin-top: 60px;
    padding-bottom: 15px;
    
 }

 .big-box{
    width: 60%; 
 }
 .under-hero{
    padding-top: 40px;
 }
 .box-right{
    position: relative;
    top: 100px;   
 }
 
.jumbo{
    width: 100%;
}
.radio-main{
    margin-top: 20px;
}
.radio-right{
    display: inline-block;
}
.radio-left{
    display: inline-block;
    padding-left:85px;
}
.main-rates{
    margin-top: 40px;
}
.main-rate{
    width: calc(100% / 3 - 20px);
    margin: 0 20px;
    border: 1px solid lightgray;
}

.user-button{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
}

.special{
    border: 1px solid lightgray;
    margin-top: 60px;
}
.team{
    text-align: center;
    border: 1px solid lightgray;
    padding:10px 0;
}
.contact{
    font-weight: bold;
    margin-top: 20px;
    padding-left: 15px;
}
.solution{
    font-size: 14px;
    margin-top: 40px;
    padding-left: 15px;
    padding-bottom: 40px;
}
.office-button{
    margin-bottom: -15px;
    margin-left: 170px;
}


   
/* main */

/* footer */
/* footer */
