/* reset */
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
/* reset */

/* common */
body{
    font-family: 'Open Sans', sans-serif;
}
.big-container{
    width:1200px;
    margin: auto;
}
.small-container{
    width:1000px;
    margin:auto;
}
.row-flex{
    display: flex;
}
/* common */

/* button */
/* button */

/* header */
/* header */

/* main */
/* main */

/* footer */
/* footer */

